{% extends 'base_admin.html' %}
{% block nav %}
		<a class="w3-bar-item w3-left w3-button" style="font-weight: bold" >ADMIN CUSTOMERS</a>
{% endblock %}
{% block content %}
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div id="flashMessage" class="w3-panel w3-amber w3-container w3-padding" onclick="document.getElementById('flashMessage').style.display='none'">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<br>
	<div class="w3-bar">
		<h1>Customers List</h1>
		<br>
		<form method="post" action="/user/items/search" class="w3-left">
			<input type="text" name="search" id="search" class="w3-input " placeholder="Search customer" style="width:500px;display:inline;">
			<input type="submit" value="SEARCH" class="w3-button w3-black">
		</form>
		<a href="{{ url_for('admin_customers') }}" class="w3-bar-item w3-right w3-button" style="font-weight: bold">CUSTOMERS</a>
		<a href="{{ url_for('admin_items') }}" class="w3-bar-item w3-right w3-button">ITEMS</a>
	</div>
	<br>
	<div>
	<button style="display:inline" class="w3-button w3-left w3-black" onclick="document.getElementById('addmodal').style.display='block'"><img width="20px" src="../static/icons/add.png"> ADD CUSTOMER</button>	
	</div>
	<br>
	<br>
	{% if search != None %}
		<br>
		<script>
			document.getElementById('search').value = "{{ search }}";
		</script>
		<div class="w3-container" style="padding:0">
			<button onclick="location.href = '/admin/customers'" class="w3-button w3-right w3-red" style="width:95px">CLEAR</button>
		</div>
	{% endif %}
	<br>
	<table bgcolor = "white" width = "100%" class="w3-table-all w3-card-4 w3-animate-top">
		<tr>
			{% for h in header %}
				<th>{{ h | upper }}</th> 
			{% endfor %}
		</tr>
		{% for customer in customerlist %}
			<tr>
				<td>{{ customer['c_name'] }}</td>
				<td>{{ customer['c_email'] }}</td>
				<td>{{ customer['c_address'] }}</td>
				<td>{{ customer['username'] }}</td>
				<td>{{ customer['password'] }}</td>
				<td>
					<button style="cursor:pointer;border:none" onclick="deletecustomer('{{ customer['c_id'] }}')">
						<img width="20px" src="../static/icons/delete.png">
					</button>
					<button style="cursor:pointer;border:none" onclick="document.getElementById('updatemodal_{{ customer['c_id'] }}').style.display='block'">
						<img width="20px" src="../static/icons/edit.png">
					</button>
				</td>
				<!-- Update Modal --> 
				<div id="updatemodal_{{ customer['c_id'] }}" class="w3-modal">
				  <div class="w3-modal-content w3-animate-top">
					<div class="w3-container w3-black" style="font-weight: bold">
					  <h3>UPDATE CUSTOMER</h3>
					  <span onclick="document.getElementById('updatemodal_{{ customer['c_id'] }}').style.display='none'"
					  class="w3-button w3-display-topright">&times;</span>
					</div>
					
					<div class="w3-container w3-padding-16 w3-white">
						<form method="post" action="/admin/updatecustomer/{{ customer['c_id'] }}">

							<label>NAME:</label>
							<input type="text" name="name" id="name" class="w3-input w3-border" value="{{ customer['c_name'] }}">
							<label>EMAIL:</label>
							<input type="email" name="email" id="email" class="w3-input w3-border" value="{{ customer['c_email'] }}">
							<label>ADDRESS:</label>
							<input type="text" name="address" id="address" class="w3-input w3-border" value="{{ customer['c_address'] }}">
							<label>USERNAME:</label>
							<input type="text" name="username" id="username" class="w3-input w3-border" value="{{ customer['username'] }}">
							<label>PASSWORD:</label>
							<input type="text" name="password" id="password" class="w3-input w3-border" value="{{ customer['password'] }}">
							<br>
							<input type="submit" value="UPDATE" class="w3-button w3-gray w3-right">
							<br><br>

						</form>
					</div>
				  </div>
				</div>
			</tr>
		{% endfor%}
	</table>
	
	<!-- Add Modal -->
	<div id="addmodal" class="w3-modal">
	  <div class="w3-modal-content w3-animate-top">
		<div class="w3-container w3-black">
		  <h3> ADD CUSTOMER</h3>
		  <span onclick="document.getElementById('addmodal').style.display='none'"
		  class="w3-button w3-display-topright">&times;</span>
		</div>
		<div class="w3-container w3-white w3-padding-16">
			<form method="post" action="/admin/addcustomer">
			
				<br>
				<input type="text" name="name" id="name" placeholder="Name" class="w3-input w3-border">
				<br>
				<input type="text" name="email" id="email" placeholder="Email"class="w3-input w3-border">
				<br>
				<input type="text" name="address" id="address" placeholder="Address"class="w3-input w3-border">
				<br>
				<input type="text" name="username" id="username" placeholder="Username" class="w3-input w3-border">
				<br>
				<input type="text" name="password" id="password" placeholder="Password" class="w3-input w3-border">
				<br>
				<input type="submit" value="ADD" class="w3-button w3-gray w3-right">
				<br><br>

			</form>
		</div>
	  </div>
	</div>
{% endblock %}